{% extends "base.html" %}
{% load static %}

{% block mainblock %}
		<!-- Start Hero Section -->
			<div class="hero">
				<div class="container">
					<div class="row justify-content-between">
						<div class="col-lg-5">
							<div class="intro-excerpt">
								<h1>Shop</h1>
							</div>
						</div>
						<div class="col-lg-7">
							
						</div>
					</div>
				</div>
			</div>
		<!-- End Hero Section -->

		<div class="untree_co-section product-section before-footer-section">
		    <div class="container">
		      	<div class="row">
            		<!-- Start Column  -->
					{% for product in products %}
					<div class="col-12 col-md-4 col-lg-3 mb-5">
						<a class="product-item" href="/cart/{{product.id}}">
							<img src="{{product.image.url}}" class="img-fluid product-thumbnail">
						<h3 class="product-title">{{product.name}}</h3>
						<h3 style="text-align: left;">description</h3>
							<p style="color: #2f2f2f;">
								{{product.desc}}
							</p>
							<h3 style="text-align: left;">specification</h3>
							<p style="color: #2f2f2f;">
								{{product.specification}}
							</p>
							<strong class="product-price">₹{{product.price}}</strong><br>
							<input type="submit" class="btn btn-primary" value="add to cart">
						</a>
					</div>
					{% endfor %}
					<!-- End Column -->

		      	</div>
		    </div>
		</div>

{% endblock mainblock %}
